body {
  background-color: lightgray;
}

.characterContainer {
  display: flex;
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border: 2px solid darkcyan;
  border-radius: 7px;
}

.img {
  width: 100px;
  height: 150px;
}

.title {
  font-weight: 800;
}

.quote {
  font-weight: 400;
}

.item {
  margin: 2px 5px;
}
